
.formInput{
    display: grid;
    grid-template-columns: 100px 100px 150px;
    grid-template-rows: auto;
    grid-row-gap: 200px;
    grid-gap: 10px;
}

    .formInput label {
        text-align: right;
        grid-column: 1;
    }

.formInput label:after {
    content: ":";
}

.formInput input[name^='Workout_DateTime'] {
    grid-column-start: 2;
    grid-column-end: 4;
    }

.formInput input{
    grid-column: 2;
}

.formInput button {
    grid-column: 1/3;
}

.formSelect {
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: auto;
    grid-row-gap: 200px;
    grid-gap: 10px;

}
.formSelect label:after {
    content: ":";
}
.formSelect label {
    text-align: right;
    grid-column: 1;
}
.formSelect select{
    grid-column: 2;
}